{% extends 'minBooks/base.html'  %}   
{% block title %} Form {% endblock %}
{% block content %}
<div class="form-group w-50 m-auto mb-5 shadow">
    <h2 class="text-center pt-5 pb-3 ">Add Book</h2>
    <form action="" method="POST" class="form-control" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}

        </table>
            <a href="{% url   'add_book' %}" class="text-decoration-none">
                <button class="btn btn-success is-fullwidth is-medium col-lg-3 offset-4 " type="submit">Submit</button>
            </a>
        <!-- </div> -->
    </form>
    </div>
{% endblock %}
